<section class="section about" id="about">
  <div class="about__container container grid">
    <div class="about__data">
      <h2 class="section__title about__title">Decadent Chocolate Cake</h2>
      <p class="about__description">
        This luxurious chocolate cake is made with high-quality dark chocolate
        and cocoa powder, giving it a deep, rich chocolate flavor that is sure
        to satisfy any chocolate lover. The addition of a shot of espresso
        enhances the chocolate flavor and gives the cake a subtle coffee
        undertone. The cake is layered with a silky smooth chocolate ganache
        filling, which adds an extra layer of chocolate indulgence. The cake is
        then frosted with a glossy dark chocolate glaze that gives it a
        beautiful finish. This cake is the perfect centerpiece for any special
        occasion, from birthdays and anniversaries to holidays and celebrations.
        The rich, chocolatey flavor and the moist texture make it irresistible,
        which will be a hit among the guests.
      </p>
      <a href="#" class="button">Know more</a>
    </div>

    <img src="../../../assets/img/cakes/cake-6.png" alt="" class="about__img" />
  </div>
</section>
