<section class="home container" id="home">
  <div class="swiper home-swiper">
    <div class="swiper-wrapper">
      <swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        [pagination]="{ clickable: true }"
      >
        <ng-template swiperSlide>
          <section class="swiper-slide">
            <div class="home__content grid">
              <div class="home__group">
                <img
                  src="../../../assets/img/home/home-1.png"
                  alt=""
                  class="home__img"
                />
                <div class="home__indicator"></div>

                <div class="home__details-img">
                  <h4 class="home__details-title">The Queen of Chocolate</h4>
                  <span class="home__details-subtitle">Try not to try</span>
                </div>
              </div>

              <div class="home__data">
                <h3 class="home__subtitle">#1 choice</h3>
                <h1 class="home__title">
                  CHOCOLATE CAKE <br />
                  WITH CREAM <br />
                  CHEESE!!
                </h1>
                <p class="home__description">
                  A moist and flavorful chocolate cake made with grated carrots,
                  cinnamon, and chopped nuts, topped with a tangy cream cheese
                  frosting and garnished with chopped pecans.
                </p>

                <div class="home__buttons">
                  <a href="#" class="button">Order Now</a>
                  <a href="#" class="button--link button--flex"
                    >Track Record
                    <img
                      src="../../../assets/img/icons/right-arrow.svg"
                      alt="arrow"
                      class="icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </section>
        </ng-template>

        <ng-template swiperSlide>
          <section class="swiper-slide">
            <div class="home__content grid">
              <div class="home__group">
                <img
                  src="../../../assets/img/home/home-2.png"
                  alt=""
                  class="home__img"
                />
                <div class="home__indicator"></div>

                <div class="home__details-img">
                  <h4 class="home__details-title"></h4>
                  <span class="home__details-subtitle"
                    >No words can describe them</span
                  >
                </div>
              </div>

              <div class="home__data">
                <h3 class="home__subtitle">#2 top Best choice</h3>
                <h1 class="home__title">
                  STRAWBERRY <br />
                  SMOOTHIE <br />
                  BOWL
                </h1>
                <p class="home__description">
                  A refreshing blend of strawberries, yogurt, and honey, served
                  in a bowl and topped with granola and fresh berries.
                </p>

                <div class="home__buttons">
                  <a href="#" class="button">Order Now</a>
                  <a href="#" class="button--link button--flex"
                    >Track Record
                    <img
                      src="../../../assets/img/icons/right-arrow.svg"
                      alt="arrow"
                      class="icon"
                    />
                  </a>
                </div>
              </div>
            </div></section
        ></ng-template>

        <ng-template swiperSlide>
          <section class="swiper-slide">
            <div class="home__content grid">
              <div class="home__group">
                <img
                  src="../../../assets/img/home/home-3.png"
                  alt=""
                  class="home__img"
                />
                <div class="home__indicator"></div>

                <div class="home__details-img">
                  <h4 class="home__details-title">Unique</h4>
                  <span class="home__details-subtitle"
                    >Strawberry Vanilla Kiwi</span
                  >
                </div>
              </div>

              <div class="home__data">
                <h3 class="home__subtitle">#3 Top Scariest choice</h3>
                <h1 class="home__title">
                  TRIPLE <br />
                  CHOCOLATE ICE CREAM <br />
                  SUNDAE
                </h1>
                <p class="home__description">
                  A delicious combination of chocolate ice cream, hot fudge, and
                  chocolate shavings, topped with whipped cream and a cherry.
                </p>

                <div class="home__buttons">
                  <a href="#" class="button">Order Now</a>
                  <a href="#" class="button--link button--flex"
                    >Track Record
                    <img
                      src="../../../assets/img/icons/right-arrow.svg"
                      alt="arrow"
                      class="icon"
                    />
                  </a>
                </div>
              </div>
            </div>
          </section>
        </ng-template>
      </swiper>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
