<section class="section new" id="new">
  <h2 class="section__title">Sinfully Delicious Donuts</h2>

  <div class="new__container container">
    <div class="swiper new-swiper">
      <div class="swiper-wrapper">
        <swiper [slidesPerView]="3" [spaceBetween]="50">
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-1.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">Heavenly Holes</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">2.99€</span>
                <span class="new__discount">3.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-2.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">Sugar Rush Donuts</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">1.99€</span>
                <span class="new__discount">3.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-3.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">Filled to the Rim</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">3.99€</span>
                <span class="new__discount">4.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-7.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">Glazed and Confused</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">3.99€</span>
                <span class="new__discount">4.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-5.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">TFried and Fabulous</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">2.99€</span>
                <span class="new__discount">3.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
          <ng-template swiperSlide>
            <div class="new__content swiper-slide">
              <div class="new__tag">New</div>
              <img
                src="../../../assets/img/donuts/donuts-6.png"
                alt=""
                class="new__img"
              />
              <h3 class="new__title">Donut Delight</h3>
              <span class="new__subtitle">Donut</span>

              <div class="new__prices">
                <span class="new__price">3.99€</span>
                <span class="new__discount">5.99€</span>
              </div>

              <button class="button new__button">
                <img
                  src="../../../assets/img/icons/cart.svg"
                  alt=""
                  class="icon"
                />
              </button>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
