.discount {
  &__container {
    background: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: 0.75rem;
  }

  &__data {
    text-align: center;
  }

  &__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
  }

  &__img {
    width: 200px;
    justify-self: center;
  }
}

/*===============  BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .discount {
    &__container {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      align-items: center;
      column-gap: 3rem;
      padding: 3rem 0;
      border-radius: 3rem;
    }
    &__img {
      width: 350px;
      order: -1;
    }
    &__data {
      padding-right: 6rem;
    }
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  .discount__container {
    column-gap: 7rem;
  }
}
